<h1>Admin::Members#index</h1>
<p>Find me in app/views/admin/members/index.html.erb</p>
<h2>会員一覧</h2>
<%= link_to "新規登録", new_admin_member_path, class: "btn btn-primary" %>
<table class="table mt-3">
  <thead><tr><th>氏名</th><th>メール</th><th>段位</th><th>状態</th><th></th></tr></thead>
  <tbody>
    <% @members.each do |m| %>
      <tr>
        <td><%= link_to m.name, admin_member_path(m) %></td>
        <td><%= m.email %></td>
        <td><%= m.rank&.name || "-" %></td>
        <td><%= m.role %></td>
        <td><%= link_to "編集", edit_admin_member_path(m) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
